  $primary-color: #06061B;
  $secondary-color: #FF00FF;
  $black: #000000;
  $white: #ffffff;
  $bg-gradient: linear-gradient(to top,
      $primary-color ,
      rgba(253, 251, 251, 0.096) 100%,
      $primary-color ,
    );
    $overlay:#36374bc7;
    $ongoing: rgb(5, 224, 5);
    $completed: rgb(248, 244, 0);