@use "./colors.scss" as colors;
@use "./flexing.scss" as flexer;
@use "./mediaStyle.scss" as medStyle;


.img-renderer {
    margin: 10px auto;
    width: 98%;

    h3{
        color:colors.$secondary-color;
        text-align: center;
        margin: 10px auto;
    }
    section {
        @include flexer.flexMixin {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 500px;
            max-width: 97%;
            height: auto;
            flex: 0 0 auto;
            margin: 10px auto;
        }
    }

}