@use "./colors.scss" as colors;
@use "./flexing.scss" as flexer;
@use "./mediaStyle.scss" as medStyle;
@use "./btnStyle.scss" as btn;

.navigation-component {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;

    @include flexer.flexMixin {
        justify-content: space-between;
        padding: 0 10px;
        align-items: center
    }

    .menu-bar {
        color: colors.$secondary-color;
        transform: scale(2);
        cursor: pointer;
        margin-right: 2%;
        display: none;

        &:hover {
            filter: grayscale(1);
        }

        @include medStyle.mediaStyle {
            display: block;
        }
    }

    .logo-holder-link {
        margin-right: 5%;
        display: block;
        height: 100%;

        &:hover {
            img {
                filter: grayscale(1);
            }
        }

        @include flexer.flexMixin {
            align-items: center
        }
    }

    .link-holder {
        height: 100%;
        // background-color: yellow;
        width: 70%;
        flex: 1 1 auto;

        @include flexer.flexMixin {
            justify-content: space-around;
            align-items: center
        }

        a {
            color: colors.$white;
            text-decoration: none;
            font-size: .8em;
            text-transform: capitalize;
            &:hover,
            &.active {
                font-size: .9em;
                color: colors.$secondary-color;
            }
        }

        @include medStyle.mediaStyle {

            background: colors.$bg-gradient;

            background-color: colors.$secondary-color;
            position: fixed;
            width: 100%;
            z-index: 9999;
            left: 0;
            top: 0;
            flex-direction: column;
            height: 250px;

            a {

                &:hover,
                &.active {
                    color: colors.$white;
                }
            }

            &.hide {
                display: none;
            }
        }
    }

}