@use "../utils/btnStyle.scss" as btn;
@use "../utils/colors.scss" as colors;
@use "../utils/flexing.scss" as flexer;

.brief-preview-page {
    @include flexer.flexMixin {}

    ;

    .brief-nf {
        margin: 25% auto;
        color: colors.$secondary-color;
    }

    .brief-details-components {
        @include flexer.flexMixin {
            flex-direction: column;
        }

        h4 {
            color: colors.$secondary-color;
            text-align: center;
        }

        article {
            margin: 10px auto;
            width: 99%;

            @include flexer.flexMixin {
                flex-direction: column;
            }

            p {
                font-size: .9em;

                .desc {
                    text-transform: capitalize;
                }

                span {
                    display: block;
                    margin: 5px 0;

                    color: colors.$secondary-color;
                }
            }
        } 

        .brand-visuals {
            margin: 10px auto;
            section{
                // background-color: red;
                margin: 10px auto;
                @include flexer.flexMixin{flex-direction: column}
                button{
                    @include btn.btn{};
                    margin: 5px auto;
                }
            }
            .img-holder {
                width: 100%;
                margin: 10px auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                width: 500px;
                max-width: 97%;
                height: auto;
                flex: 0 0 auto;
                margin: 10px auto;
            }

            div {
                @include flexer.flexMixin {
                    justify-content: center;
                    flex-wrap: wrap;
                }

                .proj-img-holder {
                    margin: 10px;
                }
            }
        }
    }
}