@use "./utils/colors.scss" as colors;
@use "./utils/loading-component.scss";
@use "./utils/navigation-component.scss";
@use "./utils/footer-component.scss";
@use "./utils/not-found-page.scss";
@use "./utils/filter-form-component.scss";
@use "./pages/page-export.scss";
@use "./mgts/mgt-export.scss";
@use "./utils/img-renderer.scss";
@font-face {
  font-family: RegularFont;
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .5s;
  font-family: RegularFont, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  width: 98%;
  margin: 0 auto;
  height: calc(100vh - 240px);
  overflow-y: scroll;
}

.full-page {
  height: unset;
  overflow-y: unset;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  background-color: colors.$primary-color;
  color: colors.$white;
}